.team-card {
  display: inline-block;
  border: 2px solid #C3073F;
  background-color: #4E4E50;
  border-radius: 8px;
  width: 200px;
  height: 200px;
  padding: 25px 10px 5px 10px;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
}

.teams-page {
  display: inline-block;
  justify-content: space-around;
  padding: 25px;
}

.team-logo {
  width: 150px;
  height: 150px;
}

.team-name {
  display: block;
  font-size: 25px;
  font-weight: bold;
}

.button {
  color: #6F2232;
  font-size: 18px;
  padding-left: 50px;
}
