<div class="roster-stats-page">
  <div class="roster-stats">
    <h1>Roster</h1>
    <div class="player-info" *ngFor="let player of players | async; keyvalue">
      <mat-card class="player-card">
        <img class="player-img" src="/assets/img/blankuser.png" />
        <div class="player-text-number">No. {{ player.jersey }}</div>
        <div class="player-text-name">{{ player.name }}</div>
        <div class="player-text">Points: {{ player.points }}</div>
        <div class="player-text">Rebounds: {{ player.rebounds }}</div>
        <div class="player-text">Assists: {{ player.assists }}</div>
        <div class="player-text">Steals: {{ player.steals }}</div>
        <div class="player-text">Blocks: {{ player.blocks }}</div>
        <div class="player-text">Turnovers: {{ player.turnovers }}</div>
      </mat-card>
    </div>
  </div>
  <button class="button" (click)="newPlayer()" mat-button>
    <mat-icon>add</mat-icon> Add Player
  </button>
  <div class="roster-stats">
    <h1>Team Stats</h1>
    <div *ngFor="let teamstat of teamStats | async; keyvalue">
      <mat-card class="teamstats-card">
        Points
        <div class="teamstats-text">{{ teamstat.points }}</div>
      </mat-card>
      <mat-card class="teamstats-card">
        Rebounds
        <div class="teamstats-text">{{ teamstat.rebounds }}</div>
      </mat-card>
      <mat-card class="teamstats-card">
        Assists
        <div class="teamstats-text">{{ teamstat.assists }}</div>
      </mat-card>
      <mat-card class="teamstats-card">
        Steals
        <div class="teamstats-text">{{ teamstat.steals }}</div>
      </mat-card>
      <mat-card class="teamstats-card">
        Blocks
        <div class="teamstats-text">{{ teamstat.blocks }}</div>
      </mat-card>
      <mat-card class="teamstats-card">
        Turnovers
        <div class="teamstats-text">{{ teamstat.turnovers }}</div>
      </mat-card>
    </div>
  </div>
  <button class="button" (click)="newTeamStats()" mat-button>
    <mat-icon>add</mat-icon> Add Team Stats
  </button>
</div>
